// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #f8f8f8;
$white: white;

//card badges
$current: rgb(255, 255, 255);
$current-bg: rgb(22, 173, 2);

$pending: rgb(23, 124, 23);
$pending-bg: rgba(53, 153, 53, 0.15);

$canceled: rgb(255, 255, 255);
$canceled-bg: rgb(218, 33, 0);

$over: rgb(0, 0, 0);
$over-bg: rgba(3, 3, 3, 0.15);

$coming: rgb(199, 136, 0);
$coming-bg: rgba(199, 136, 0, 0.15);
