// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #e4e4e4;
$white: white;

$blue1: #03256C;
$blue2: #2541B2;
$blue3: #1768AC;
$blue4: #06BEE1;

//card badges
$now: rgb(255, 255, 255);
$now-bg: rgb(22, 173, 2);

$paired: rgb(23, 124, 23);
$paired-bg: rgba(53, 153, 53, 0.15);

$canceled: rgb(255, 255, 255);
$canceled-bg: rgb(218, 33, 0);

$passed: rgb(0, 0, 0);
$passed-bg: rgba(3, 3, 3, 0.15);

$pairing: rgb(199, 136, 0);
$pairing-bg: rgba(199, 136, 0, 0.15);
