// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #e4e4e4;
$white: white;

//card badges
$pending: rgb(255, 255, 255);
$pending-bg: rgb(0, 134, 0);

$matched: rgb(23, 124, 23);
$matched-bg: rgba(53, 153, 53, 0.15);
