.hero-section {
  display: flex;
  flex-direction: column;
  min-height: 75vh;

  padding-top: 12vh;
  padding-bottom: 90px;

  overflow: hidden;
  background-color: darken($light-gray, $amount: 3);

  .content-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding: 0 40px;
  }
  .tagline {
    font-weight: 600;
    color: $gray;
  }
  .slogan {
    max-width: 720px;
    color: #424853;
  }
  .cta-btn {
    min-width: 25%;
    max-width: 250px;
    margin-top: calc(18px + 2vw);
  }

  .img-wrapper {
    display: flex;
    position: relative;
    margin: 20px 3vw;
  }

  #img1 {
    right: -40px;
    z-index: 1;
  }

  #img2 {
    position: absolute;
    z-index: 2;
    left: -40px;
    bottom: 20px;

    width: 160px;
    height: 160px;
  }

  .hero-img {
    position: relative;
    width: 300px;
    height: 400px;

    object-fit: cover;

    border-radius: 6px;
    box-shadow: 0px 10px 35px -3px rgba(0,0,0,0.1);
  }
}



@media screen and (max-width: 1440px) {
  .hero-section {
    margin: 0 auto;

    .tagline {
      font-size: 4vw;
      letter-spacing: -.1vw;
      line-height: 1.2;
    }

    .slogan {
      font-size: 16px;
      max-width: 600px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    padding-top: 50px;
    padding-bottom: 20px;

    .cta-btn {
      min-width: 100%;
    }
    .tagline {
      font-size: 8vw;
      letter-spacing: -1px;
    }
    .content-wrapper {
      flex-direction: column;
      align-items: center;
    }
    .img-wrapper {
      margin-top: 60px;
    }
    #img1 {
      width: 200px;
      height: 300px;
    }
    #img2 {
      left: -80px;
    }
  }
}

@media screen and (max-width: 425px) {
  .hero-section {
    padding-top: 40px;

    .tagline {
      font-size: 12vw;
    }
  }
}

.credentials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 360px;
  background-color: darken($light-gray, $amount: 0);
  align-items: center;
  padding: 20px;
  .clients {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    gap: 20px;
    .client-img {
      width: 66%;
    }
  }
}

@media screen and (min-width: 550px) {
  .credentials .clients {
    flex-direction: row;
    .client-img {
      max-width: 30vw;
    }
  }
}

.infos {
  display: flex;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  align-items: center;

  width: 100vw;
  height: 400px;

  background-color: $gray;

  .tagline-white {
    color: $white;
    width: 80%;
  }
  .btn-white {
    margin-top: calc(18px + 2vw);
    padding: 12px 40px;
  }
}
