  <nav class="main-nav aside">
    <div class="user-section user-menu">
      <div>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "user-photo", gravity: "face", crop: "fit" %>
        <% else %>
          <div class="user-avatar">
            <%= current_user.first_name.first %>
          </div>
        <% end %>
      </div>
      <div class="txt-wrapper">
        <p>Welcome,</p>
        <p><%= current_user.first_name %></p>
      </div>
    </div>

    <a href="/events" class="user-section user-feature">
      <div class="feat-avatar">
        <svg class="icn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M12 192h424c6.6 0 12 5.4 12 12v260c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V204c0-6.6 5.4-12 12-12zm436-44v-36c0-26.5-21.5-48-48-48h-48V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H160V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v36c0 6.6 5.4 12 12 12h424c6.6 0 12-5.4 12-12z"/></svg>
      </div>
      <div class="txt-wrapper">
        <p>All Events</p>
      </div>
    </a>

    <a href="/dashboard" class="user-section user-feature">
      <div class="feat-avatar">
        <svg class="icn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>
      </div>
      <div class="txt-wrapper">
        <p>Dashboard</p>
      </div>
    </a>

    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logout-link"%>
  </nav>
