<% if current_user %>
  <div data-controller='event-subscriptions'
    data-event-subscriptions-user-id-value="<%= current_user.id %>">
    <div id="popup-frame"
        data-event-subscriptions-target="alert"
        class="now-you-don-t">
    </div>
  </div>
<% end %>
