<% if current_user %>
  <div class="alert container-fluid fixed-top " data-controller='event-subscriptions'
    data-event-subscriptions-user-id-value="<%= current_user.id %>">
    <div id="popup-frame"
        data-event-subscriptions-target="alert"
        class="now-you-see-me">
    </div>
  </div>
<% end %>
