<div id="content" data-event-subscriptions-target="content">

  <h4>Your lunch on <%= event.start_date %> has been canceled !</h4>
    <a class="btn btn-primary w-100 py-2"
    id="create-event-start"
    data-controller="event_subscriptions"
    data-action="click->event-subscriptions#reset">
    Got it !
  </a>

</div>
