
        <button
          class="btn rounded-pill sign-up-btn mb-5 when"
          style=""
          value='today'>
          Today ...
        </button>

        <button
          class="btn rounded-pill sign-up-btn mb-5 when"
          style=""
          value='week'>
          Next week ...
        </button>

        <button
          class="btn rounded-pill sign-up-btn mb-5 when"
          style=""
          value='month'>
          This month ...
        </button>
