    <div class="when">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="ModalCreateEventLabel">When ?</h5>
      </div>


        <button
          class="btn rounded-pill sign-up-btn mb-3"
          style=""
          value='today'>
          Today ...
        </button>

        <button
          class="btn rounded-pill sign-up-btn mb-3"
          style=""
          value='week'>
          This week ...
        </button>

        <button
          class="btn rounded-pill sign-up-btn mb-3"
          style=""
          value='month'>
          This month ...
        </button>

    </div>
