
        <button
          class="btn rounded-pill sign-up-btn mb-3 when"
          style=""
          value='today'>
          Today ...
        </button>

        <button
          class="btn rounded-pill sign-up-btn mb-3 when"
          style=""
          value='week'>
          This week ...
        </button>

        <button
          class="btn rounded-pill sign-up-btn mb-3 when"
          style=""
          value='month'>
          This month ...
        </button>
