  <div class="modal-header justify-content-center week">
    <h5 class="modal-title" id="ModalCreateEventLabel">When ?</h5>
  </div>

<button
  class="btn rounded-pill sign-up-btn mb-3 week"
  style="display: none;"
  value=œ>
  Monday
</button>

<button
  class="btn rounded-pill sign-up-btn mb-3 week"
  style="display: none;"
  value='tue'>
  Tuesday
</button>

<button
  class="btn rounded-pill sign-up-btn mb-3 week"
  style="display: none;"
  value='wed'>
  Wednesday
</button>

<button
  class="btn rounded-pill sign-up-btn mb-3 week"
  style="display: none;"
  value='thu'>
  Thursday
</button>

<button
  class="btn rounded-pill sign-up-btn mb-1 week"
  style="display: none;"
  value='fri'>
  Friday
</button>
