        <div class="mb-3 day"
             style="display: none;">
          <h3>So it's on the :</h3>
          <h2 id="day-out"></h2>

            <%# TEST AFFICHAGE %>

          <form action="">
            <input type="time" name="" id="time-set" value="12:30">
          </form>

          <h3>What do you feel like ?</h3>
        </div>


        <button
          class="btn rounded-pill sign-up-btn mb-5 day"
          style="display: none;"
          value='coffe'>
          Coffee break ...
        </button>

        <button
          class="btn rounded-pill sign-up-btn mb-5 day"
          style="display: none;"
          value='lunch'>
          Lunch ...
        </button>

        <button
          class="btn rounded-pill sign-up-btn mb-5 day"
          style="display: none;"
          value='drink'>
          Afterwork drink ...
        </button>
