<div class="venue">

  <div class="modal-header justify-content-center">
    <h5 class="modal-title" id="ModalCreateEventLabel">Result</h5>
  </div>

  <ul data-controller="rank" data-rank-target="result" class="list-group results-lists mb-3" >
    <h1> Done ! PeerToPair found the best @event.format for both of you !</h1>
    <h2>  @event.place_name </h2>
    <p>Go on your dashboard to found the summary of your event</p>
  </ul>
</div>
