
        <button
          class="btn rounded-pill sign-up-btn mb-5 when"
          style="display: none;"
          value='today'>
          Coffee ...
        </button>

        <button
          class="btn rounded-pill sign-up-btn mb-5 when"
          style="display: none;"
          value='week'>
          Lunch ...
        </button>

        <button
          class="btn rounded-pill sign-up-btn mb-5 when"
          style="display: none;"
          value='month'>
          Drink ...
        </button>
