
  <% if event.users.length === 2 %>
      <p class="status-message text-center">There is two participants</p>
      <!--Besoin de connaître l'event type pour agir en fonction -->

      <% if event.event_type === "Drink" %>
        <p>We are going to propose you some cool bar !</p>
      <% elsif event.event_type === "Lunch" %>
        <p class="status-message text-center">We are going to propose you some cool restaurants !</p>
        <ul>

        </ul>
      <% elsif event.event_type === "Coffee" %>
        <p class="status-message text-center">We are going to propose you some cool coffee !</p>
      <% end %>
  <% else %>
      <p class="status-message text-center">We still waiting your pair</p>
  <% end %>
  <%= link_to "Rank your #{event.event_type}", new_event_venue_ranking_path(event), class:"btn btn-outline-secondary mt-2" %>
