
<button
  class="btn rounded-pill sign-up-btn mb-3 month"
  style="display: none;"
  value='week_2'>
  Next week ...
</button>
<br>
<button
  class="btn rounded-pill sign-up-btn mb-3 month"
  style="display: none;"
  value='week_3'>
  In two weeks ...
</button>
<br>
<button
  class="btn rounded-pill sign-up-btn mb-3 month"
  style="display: none;"
  value='week_4'>
  In three weeks ...
</button>
