
<button
  class="btn rounded-pill sign-up-btn mb-3 week"
  style="display: none;"
  value='today'>
  Monday
</button>
<br>
<button
  class="btn rounded-pill sign-up-btn mb-3 week"
  style="display: none;"
  value='week'>
  Tuesday
</button>
<br>
<button
  class="btn rounded-pill sign-up-btn mb-3 week"
  style="display: none;"
  value='month'>
  Wednesday
</button>
<br>
<button
  class="btn rounded-pill sign-up-btn mb-3 week"
  style="display: none;"
  value='month'>
  Thursday
</button>
<br>
<button
  class="btn rounded-pill sign-up-btn mb-3 week"
  style="display: none;"
  value='month'>
  Friday
</button>
