
        <button
          class="btn rounded-pill sign-up-btn mb-3 when"
          value='today'>
          Today ...
        </button>
        <br>
        <button
          class="btn rounded-pill sign-up-btn mb-3 when"
          value='week'>
          Next week ...
        </button>
        <br>
        <button
          class="btn rounded-pill sign-up-btn mb-3 when"
          value='month'>
          This month ...
        </button>
