<div class="col-10 offset-1 mt-4">
  <div class="titles-wrapper mb-5">
    <h1 class="mb-4">Connect internally. <br> Create opportunities.</h1>
    <h5>Meet peers from your company, people you wouldn't have talked to otherwise. Based on people's availabilities and meeting preferences.</h3>
  </div>
  <%= link_to "Sign up", new_user_session_path, class:"btn rounded-pill sign-up-btn mb-5" %>
  <p>Join hundreds of large organizations</p>
  <div class="logos-wrapper">
    <%= image_tag "coca-cola-logo.png", width: 100, height: 40 %>
    <%= image_tag "google-logo.png", width: 100, height: 40 %>
    <%= image_tag "renault-logo.png", width: 100, height: 40 %>
  </div>
</div>
