<div class= "hero-section">
  <div class="content-wrapper">

    <div class="text-wrapper">
      <h1 class="tagline">
        Connect internally, 
        <br>
        Create opportunities.
      </h1>  
      <p class="slogan mt-4 pe-5">
        Meet peers from your company, people you wouldn’t have talked to otherwise.
        Based on people’s availabilities and meeting preferences.
      </p>
      <a href="#" class="btn btn-primary cta-btn">Try Peertopair!</a>
    </div>

    <div class="img-wrapper">
      <%= image_tag "people/woman-2.png", class: "hero-img", id:"img1" %>
      <%= image_tag "people/man-2.png", class: "hero-img", id: "img2" %>
    </div>
  </div>
</div>

<section class="credentials">
  <h3>They already trust us:</h3>
</section>

<section class="infos">
  <h1 class="tagline white">Don't miss any news! <br>
  Subscribe to our newsletter.
  </h1> 
  <a href="#" class="btn btn-white">Subscribe</a>
</section>

<%= render "footer" %>