* {
  font-family: 'Quicksand', sans-serif;
}

.card-dash {
  position: relative;
  padding: 16px;
  border-radius: 8px;
  background-color: $white;
  box-shadow: 0 3px 3px -1px rgba(10,22,70,.1),0 0 1px 0 rgba(10,22,70,.06);
}

.background-dash {
  margin: 0;
  padding: 8px;
  background-color: $light-gray;
}

.card-badge {
  position: absolute;
  top: 16px;
  right: 16px;
}

.pairing {
  color: $pairing;
  background-color: $pairing-bg;
}

.paired {
  color: $paired;
  background-color: $paired-bg;
}

.canceled {
  color: $canceled;
  background-color: $canceled-bg;
}

.passed {
  color: $passed;
  background-color: $passed-bg;
}

.now {
  color: $now;
  background-color: $now-bg;
}

.card-event-type {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: .7rem;
  line-height: 16px;
  text-align: left;
}

.date-place {
  margin: 0;
  color: gray;
  font-size: 14px;
  text-align: left;
}

.hide {
  display: none;
}

.status-message {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 600;
  color: gray;
}
