* {
  font-family: 'Quicksand', sans-serif;
}

.dashboard-title {
  float: left;
}

.card-dash {
  position: relative;
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  background-color: $white;
  box-shadow: 0 3px 3px -1px rgba(10,22,70,.1),0 0 1px 0 rgba(10,22,70,.06);
  cursor: pointer;
}

.card-dash:hover {
  background-color:#f7f7f7;
}

.dash-card-list {
  position: relative;
  width: 100%;
  margin: 0;
  padding-bottom: 40px;
  background-color: $light-gray;

  .list-header {
    width: 100%;
    left: 0;
    float: left;
  }
}

.card-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 980px;
  padding: 40px 20px;
  margin: 0 auto;
}

.card-badge {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px 12px;

  border-radius: 50px;
}

.cancel-card {
  float: right;
  color: white;
  font-size: 14px;
  font-weight: 600;
  background-color: #fb024a !important;
}

.pairing {
  color: $pairing;
  background-color: $pairing-bg;
}

.paired {
  color: $paired;
  background-color: $paired-bg;
}

.canceled {
  color: $canceled;
  background-color: $canceled-bg;
}

.passed {
  color: $passed;
  background-color: $passed-bg;
}

.now {
  color: $now;
  background-color: $now-bg;
}

.card-event-type {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: .7rem;
  line-height: 16px;
  text-align: left;
}

.date-place {
  margin: 0;
  color: gray;
  font-size: 14px;
  text-align: left;
}

.hide {
  display: none;
}

.status-message {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  color: black;
}

.event-icon {
  width: 16px;
  fill: $gray;
  vertical-align: -1px
}

.chevron-container {
  position: relative;
}

.chevron-bottom {
  width: 20px;
  stroke: #808080;
  position: absolute;
  top: 50%;
  left: 50%;
}

.chevron-top {
  width: 20px;
  stroke: #808080;
  position: absolute;
  top: 50%;
  left: 50%;
}
