.hero {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 320px;
  padding: 60px;
  overflow: hidden;
  border-radius: 10px;

  margin: 0 auto;
  color: black;

  background-color: darken($light-gray, $amount: 3);

  .text-wrapper {
    width: 45%;
    z-index: 120;
  }
  a {
    max-width: 300px;
  }
}

.illustation-hero {
  position: absolute;
  z-index: 100;
  transform: translateX(70%);
  height: 380px;
}

@media screen and (max-width: 950px) {
  
  .hero {
    .text-wrapper {
      width: 100%;
      a {
        max-width: 200px;
      }
    }
  }

  .illustation-hero {
    transform: translateX(40%);
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding: 20px;
  }
  .illustation-hero {
    transform: translateX(35%);
  }
}

@media screen and (max-width: 375px) {
  .hero {
    padding: 20px;
  }
  .illustation-hero {
    transform: translateX(25%);
  }
}
