.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 320px;
  overflow: hidden;
  border-radius: 10px;

  margin: 0 auto;
  color: black;

  background-color: darken($light-gray, $amount: 3);
}

.illustation-hero-left {
  position: absolute;
  transform: translate(62%, 0%);
  width: 760px;
  min-height: 760px;
}

.illustation-hero-right {
  position: absolute;
  transform: translate(-60%, 0%);
  width: 760px;
  min-height: 760px;
}

