.sticky-navbar {
  position: sticky;
  top: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  box-shadow: 0 3px 3px -1px rgba(10,22,70,.1),0 0 1px 0 rgba(10,22,70,.06);
}

.navbar-logo {
  height: 40px;
  vertical-align: middle;
}

.navbar-login {
  padding: 20px;
  text-decoration: none;
  color: #03256C;
}

.navbar-login:hover {
  color: #2541B2;
}

.dropdown {
  float: right;
  vertical-align: middle;
  text-decoration: none;
}

.btn:focus {
  box-shadow: none;
}

.btn {
  background-color: #03256C;
  color: white;
}

.btn:hover {
  background-color: #2541B2;
  color: white;
}
