.sticky-navbar {
  position: sticky;
  top: 0;
  height: 80px;

  padding: 20px;
  background-color: white;
}

.navbar-logo {
  height: 40px;
  vertical-align: middle;
}

.navbar-login {
  float: right;
  vertical-align: middle;
  text-decoration: none;
  color: #03256C;
}

.navbar-login:hover {
  color: #2541B2;
}

.dropdown {
  float: right;
  vertical-align: middle;
  text-decoration: none;
}

.btn:focus {
  box-shadow: none;
}

.btn {
  background-color: #03256C;
  color: white;
}

.btn:hover {
  background-color: #2541B2;
  color: white;
}
