// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";

// Your CSS partials

@import "components/alert";
@import "components/avatar";
@import "components/buttons";
@import "components/card-dash";
@import "components/footer";
@import "components/hero";
@import "components/index";
@import "components/index";
@import "components/modal";
@import "components/navbar";
@import "components/popup-alert";

@import "pages/devise";
@import "pages/home";
@import "pages/index";
@import "pages/venue_rankings";

ul {
  list-style-type: none;
}

* {
  font-family: 'Poppins', sans-serif !important;
}

body {
  background-color: $light-gray;
}

ul {
  list-style-type: none;
}
