<div id="popup_frame">
  <h4>Your lunch on march 14th has been canceled !</h4>
    <a class="btn btn-primary w-100 py-2" id="create-event-start" data-bs-toggle="modal" data-bs-target="#ModalCreateEvent">Got it !</a>
</div>
